{% extends 'base.html' %}

<!-- BLOQUE PRINCIPAL -->
{% block content %}
<br>
<h2 style="text-align: center;">{{titulo}}</h2>
 
    <div class="row">
        <table class="table  table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>  {'categoria__pk': 1, 'categoria__nombreCat': 'Alimentos', 'cantidad': 26},
                {% for cat in categorias %}
                <tr>
                    <td>{{cat.categoria__nombreCat}}</td>
                    <td>{{cat.cantidad}}</td>
                    <td><a class="btn btn-primary" href="{% url 'productos_categ' cat.categoria__pk %}">Ver productos</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    {% endblock %}

    <!-- FIN BLOQUE PRINCIPAL -->