{% extends 'base.html' %}

<!-- BLOQUE PRINCIPAL -->
{% block content %}
<br>
<h2 style="text-align: center;">{{tituloPlantilla}}</h2>
    <hr>
    <div class="row">
        {% for prod in productos %}
    
        <div class="card col-3">
            <img src="media/{{prod.icono}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ prod.nombreProd}}</h5>
                
                <a href="#" class="btn btn-primary">Ver</a>
            </div>
        </div>
        {% endfor %}

    </div>

    {% endblock %}

    <!-- FIN BLOQUE PRINCIPAL -->